.card {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background: rgba(246, 242, 223, 0.9);
	border-style: solid;
	border-color: rgb(152, 138, 74);
    border-width: 1px;
}

.second {
	display: none;
	position: absolute;
	margin-top: 25px;
	z-index: 2;
	border-style: solid;
	border-color: rgb(152, 138, 74);
    border-width: 1px;
}

.second.might, .second.could {
	transform: rotate(2deg);
}

.second.allegedly {
	transform: rotate(-2deg);
}

.third {
	display: none;
	position: absolute;
	margin-top: 50px;
	z-index: 3;
	border-style: solid;
	border-color: gray;
    border-width: 1px;
}

.third.might, .third.could {
	transform: rotate(-2deg);
}

.third.allegedly {
	transform: rotate(2deg);
}


h1, h2, h3, h4, h5, p, .footnote {
	text-align: center;
	font-family: "Special Elite", cursive;
}

h1 {
	margin-top: 30px;
}


.highlight {
	color: #D30202;
}

/* Background pattern from subtlepatterns.com */

body {
    background-image: url("crossword.png");
}

